*{
	box-sizing: border-box;
}
body{
	background:url('../images/bg.jpg');
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: right center;
	background-attachment:fixed;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	padding:0 20px;
}
header *{
	color: #fff;
}

.wrapper{
	max-width: 100%;
	margin-top:10px;
	background: rgba(0, 0, 0, 0.9);
}

.wrapper{
	max-width: 100%;
	
}
.f-container{
	display: flex;
	height: 100vh;
	align-items: center;
}
.f-container .f-item{
	width:100%
}

header h1{
	font-size: 36px;
	font-weight: 700;
}

header p{
	font-size: 20px;
	margin-top: 20px;
}

.f-item p span{
	border-bottom:2px solid #18d26e;
	padding-bottom: 5px;
	
}
header .social-links{
	margin-top: 20px;
}

.f-container .f-item .nav-bar{
	margin-top: 30px;
}

.nav-bar a{
	text-decoration: none;
	font-size: 16px;
	padding-right:10px;
}
.nav-bar a span:hover{
	border-bottom:2px solid #18d26e;
}

.bg-circle{
	width: 60px;
	height: 60px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	margin-right:15px;
	position: relative;
	display:inline-block;
	line-height:40px;
}

.social-links .fa-brands,
.social-links .fa-face-smile{
	font-size: 30px;
    position: absolute;
    left: 26%;
    bottom: 26%;
}
}
.social-links .bg-circle:hover{
	background: #18d26e;
}
.section-title{
	margin-bottom:25px;
	margin-top: 50px;
	padding: 20px;
}
.section-title h3{
	font-size:14px;
	letter-spacing: 3px;
	margin-bottom:20px;
}
.section-title h3:after{
	content: "";
	width: 110px;
	height: 1px;
	background-color: #18d26e;
	display: inline-block;
	margin: 4px 10px;
}
.profile-image{
	width:200px;
	text-align:center;
}

.desc h2{
	color: #18d26e;
	font-weight: 700;
    font-size: 36px;
}
.desc .italic p{
	font-size: 14px;
	font-style:italic;
}
.desc ul{
	line-height: 100px;
}

.fa-angle-right{
	color: #18d26e;
	padding-right: 20px;
}
.skill-status h4{
	font-size: 30px;
	padding-bottom: 20px;
}

.skill-container{
	margin-top:20px;
}
.skill-name{
	display: flex;
	color: #fff;
	justify-content:space-between;
}
.skill-container .skill-status{
	margin-bottom:50px;
}
.skill-container .progress-bar{
	width: 100%;
	height:10px;
	background-color: #18d26e;
}

.skill-item{
	padding: 20px 0px;
    margin: 0px;
}
.skill{
	display: flex;
	justify-content:space-between;
	margin-bottom: 10px;
}
.progress-bar-bg{
	content: "";
	height:15px;
	background: rgba(255, 255, 255, 0.2);
}
.skill-item .progress-bar-100{
	content: "";
	height:15px;
	width:100%;
	background: #18d26e;
}
.skill-item .progress-bar-90{
	content: "";
	height:15px;
	width:90%;
	background: #18d26e;
}
.skill-item .progress-bar-75{
	content: "";
	height:15px;
	width:75%;
	background: #18d26e;
}
.skill-item .progress-bar-80{
	content: "";
	height:15px;
	width:80%;
	background: #18d26e;
}
.skill-item .progress-bar-90{
	content: "";
	height:15px;
	width:90%;
	background: #18d26e;
	transition:2s;
}
.skill-item .progress-bar-55{
	content: "";
	height:15px;
	width:55%;
	background: #18d26e;
}

.resume-part{
	padding:20px 20px;
}
.title{
	font-size: 26px;
    font-weight: 700;
	margin-bottom: 20px;
}
.resume-content{
	margin-bottom: 20px;
    border-left: 1px solid #343434;
    padding-left: 20px;
}

.resume-content .bullet-style{
	
	padding-left: 20px;
	list-style-position: inside;
}

.resume-content .bullet-style li{
	
	position: relative;
}
.resume-content .bullet-style li::before{
	/*list-style-type: disc;
	list-style-position: inside;*/
	content: "\2022";
	display: inline-block;
	padding-right: 10px;
	position: absolute;
	left: -30px;
	top: 0;
}
.resume-content h2:before{
	content: "";
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #18d26e;
    display: inline-block;
    position: relative;
    left: -26px;
    top: -2px;
	
}
.resume-content h2{
	font-size: 18px;
    font-weight: 600;
	color: #18d26e;
	
}

.resume-content .italic{
	font-size: 14px;
	font-style: italic;
	margin-bottom:10px;
}
.resume-content ul,
.resume-content p{
	font-size: 14px;
	line-height:1.5;
}
.resume-content ul li::marker{
	color: #fff;
	font-size: 10px;
}

.resume-content ul li{
	padding-bottom: 10px;
}

.s-container{
	padding:10px;
	height: 100vh;
}


.s-container .s-item{
	text-align:center;
	background: rgba(255, 255, 255, 0.1);
	padding:10px;
	margin-bottom: 10px;
}
.s-container .s-item:hover{
	background: #18d26e;
}
.s-container .s-item .fa{
	background: #18d26e;
	padding: 15px;
	font-size: 30px;
    border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 10px;
    box-shadow: #bcb8b8 -10px -10px;
}

.s-container .s-item .fa:hover{
	color: #18d26e;
	background: #fff;
}
}
.s-container .s-item p{
	font-size: 14px;
	line-height:24px;
}
.position{
	
	width:500px;
	box-sizing: border-box;
	position:relative;
}
.position-box{
	text-align: center;
	padding: 25px 30px;
	background: rgba(255, 255, 255, 0.1);
	position:relative;
}

nav{
	text-align: center;
	margin-bottom:20px;
}
nav span{
	background: rgba(255, 255, 255, 0.1);
	padding: 10px 20px;
	border-radius: 5px;
	margin-right:10px;
	font-size: 14px;
}
nav a{
	text-decoration:none;
}
nav span:hover{
	background: #18d26e;
}
.position .social-links{
	position: absolute;
    left: 220px;
    bottom: 100px;
}
.p-container {
	text-align:center;
	box-sizing: border-box;
}
.p-container .p-item img{
	max-width: 100%;
    height: auto;
	padding-bottom:10px;
}

.form-container{
	background: rgba(255, 255, 255, 0.1);
	text-align:center;
	width: 100%;
	box-sizing: border-box;
	padding:10px;
}
.form-container .form-item{
	background: #848181;
	border: 0;
	margin: 10px 0px;
	padding: 10px;
	width:100%;
	box-sizing: border-box;
}
::placeholder{
	color:#3f3e3e;
	font-size:15px;
}
button{
	background: #18d26e;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    border-radius: 4px;	
}
@media(min-width:320px){
	nav span{
	margin-right:5px;
	padding: 5px 10px;
	}
}
@media(min-width:768px){
	.s-container{
		display:flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
	.s-container .md-50{
		width:50%;	
		box-sizing: border-box;
		padding:10px;
	}
	.s-container p{
		font-size: 14px;
		line-height:24px;
	}
	.p-container{
		display:flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
	.p-container .md-50{
		width:50%;	
		box-sizing: border-box;
		padding:10px;
	}
	
}

@media(min-width:992px){

	.skill-container{
		
		display:flex;
		flex-wrap: wrap;
		
	}
	.skill-container .box-50{
		width:50%;	
		box-sizing: border-box;
		padding:10px;
	}
	.r-container{
		display:flex;
		flex-wrap: wrap;
	}
	.r-container .r-item{
		width:50%;	
		box-sizing: border-box;
		padding:10px;
		
	}
	
	.s-container{
		display:flex;
		flex-wrap: wrap;
		
	}
	
	.s-container p{
		font-size: 14px;
		line-height:24px;
}
	.s-container .lg-33{
		width:33.33%;	
		box-sizing: border-box;
		padding:10px;
		padding-top: 90px;
	}
	.p-container{
		display:flex;
		flex-wrap: wrap;
		
	}
	.p-container .lg-33{
		width:33.33%;	
		box-sizing: border-box;
		padding:10px;
	
	}
	.form-container .name-email{
		display: flex;
		width:100%;
	
		
		
	}
	.name-email .form-item-50{
		width: 100%;
		box-sizing: border-box;
		
	}
}